<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Backend Python</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Backend Python Test</h1>
        </div>
        <div class="alert alert-black" role="alert">
            <h4 class="alert-heading">How prepare header</h4>
            <p>
                URL: http://127.0.0.1:5000/getsecretkey<br>
                Param: {}
            </p>
            <hr>
            <p class="mb-0">response:<br>
                {
                    "key": "SmdmQ1ZQNzItNmdjZTRhNkgtdExHQQ=="
                }
            </p>
            <hr>
            <p class="mb-0">Request:<br>
                URL: http://127.0.0.1:5000/getresponsekey<br>
                {
                    "key": "SmdmQ1ZQNzItNmdjZTRhNkgtdExHQQ==",
                    "user":"AnyUser"
                }
            </p>
            <hr>
            <p class="mb-0">Response:<br>
                {
                    "key": "U21kbVExWlFOekl0Tm1kalpUUmhOa2d0ZEV4SFFRPT1VU0VSOmVucmlxdWU="
                }<br>
                And set on header the key
            </p>
        </div>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Get Method</h4>
            <p>
                URL: http://127.0.0.1:5000/getuser<br>
                Param: {}
            </p>
            <hr>
            <p class="mb-0">response:<br>
                {"data": [<br>
                    [
                        1,
                        "Enrique Mendoza",
                        "Sun, 06 Aug 1995 00:00:00 GMT",
                        "programador"
                    ],<br>
                    [
                        2,
                        "Luis Mendoza",
                        "Sun, 06 Aug 1995 00:00:00 GMT",
                        "Analista"
                    ],<br>
                    [
                        3,
                        "samantha zamora",
                        "Tue, 22 Nov 1994 00:00:00 GMT",
                        "analista"
                    ]<br>
                ]}
            </p>
        </div>
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Post Method</h4>
            <p>
                URL: http://127.0.0.1:5000/postuser<br>
                Param: {
                    "id":1
                }
            </p>
            <hr>
            <p class="mb-0">response:<br>
                {
                    "data": [
                        [
                            "Enrique Mendoza",
                            "Sun, 06 Aug 1995 00:00:00 GMT",
                            "programador"
                        ]
                    ]
                  }
            </p>
        </div>
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Put Method</h4>
            <p>
                URL: http://127.0.0.1:5000/putuser<br>
                Param: {
                    "name":"samantha zamora",
                    "birthdate":"1994-11-22",
                    "job":"analista"
                }
            </p>
            <hr>
            <p class="mb-0">response:<br>
                {
                    "data": "SUCCESSFUL"
                }
            </p>
        </div>
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Delete Method</h4>
            <p>
                URL: http://127.0.0.1:5000/deleteuser<br>
                Param: {
                    "id":3
                }
            </p>
            <hr>
            <p class="mb-0">response:<br>
                {
                    "data": "SUCCESSFUL"
                }
            </p>
        </div>
    </div>
</body>
</html>